
  .modal {
    background-color: #bababa;
    padding: 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px 0 #181817;
    max-width: 1090px;
    width: 100%;
  }
  
  .modal h2,
  .modal h1 {
    margin: 0;
  }
  